/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 20px;
}
nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
h1, h2 {
    color: #333333;
    border-bottom: 2px solid #F4F4F4;
    padding-bottom: 10px;
}

/* Стили таблиц */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #DDDDDD;
    padding: 12px;
    text-align: left;
}
th {
    background-color: #F2F2F2;
}
/* Стили для кнопок в таблицах */
td.actions {
    text-align: center;
    width: 120px;
}
.actions a, .actions button {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Стили для различных кнопок */
.btn {
    font-weight: bold;
    color: #FFFFFF;
}
.btn-edit {
    background-color: #007BFF;
    color: #FFFFFF;
}
.btn-delete {
    background-color: #DC3545;
    color: #FFFFFF;
    padding: 10px 15px;
}
.btn-create {
    background-color: #28A745;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

/* Стили форм */
form div {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
button {
    background-color: #6E25E2;
    color: #FFFFFF;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Стили для сообщений и ошибок */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.alert-success {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
}
.alert-danger {
    background-color: #F8D7DA;
    color: #721C24;
    border: 1px solid #F5C6CB;
}
/* Стили для ошибок валидации */
.errors {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
.errors li {
    color: #721c24;
    font-size: 0.9em;
}
